<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <head>
        <title>Borealis Logs Directory {{ drone_number }}</title>
        <h1>Borealis Logs Directory {{ drone_number }}</h1>
    </head>
   <body>
        <ul>
            <li>
                <a href="/Logs">Logs</a>
            </li>
            <li>
                <a href="/MavrosLogs">MavrosLogs</a>
            </li>
            <li>
                <a href="/Report">Report</a>
            </li>
        </ul>

        <form action="/run_mavors_logs_script/" method="post">
            <button name="GenerateLogsBtn" type="submit">Generate latest mavros logs</button>
        </form>
        <form action="/run_systems_logs_script/" method="post">
            <button name="GenerateLogsBtn" type="submit">Generate latest system info logs</button>
        </form>

        <p> Mavros info: {{ latest_mavros_logs }}</p>
        <p> System info: {{ latest_logs }}</p>
        <p> {{ node_logs_latest_directory }}</p>

    </body>
    <!-- <img class="resize" src="templates/pepe.gif">  -->
    </html>